<header>
    <h1 class="fade-in">Deepfake Detection App</h1>
    <nav>
      <a href="/" class="nav-link">Home</a>
      <a href="/image" class="nav-link">Image Detection</a>
      <a href="/content" class="nav-link">Text Analysis</a>
      <a href="/link" class="nav-link">Link Validation</a>
    </nav>
  </header>  